DB_HOST=host of postgreSQL
DB_PORT=port of db
DB_USER=here username of db
DB_PASSWORD=password of db
DB_NAME=name of database which i create in db

JWT_SECRET=jwt secret key here
IMAGEKIT_PRIVATE_KEY= private key of imagekit here
REDIS_URL=here redis url